.header{
    margin: 0 auto;
    font-size: 20px;
}
#user_nav{
    margin: 3px 0 0 0;
    padding: 2px;
    text-align: right;
    float: right;
}
.page{
    margin: 3px 0 0 0;
    padding: 2px;
    font-size: 20px;
    color: #663366;
}
#branding {
    font-size: 20px;
    color: #663366;
    background-color: #99cc99


}
.postlist{
    border-color:  #88aa88;
    border-style: solid;
    border-bottom: 2px;
}
.thumbnail{
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
    width: 80px;
    height: 80px;
}
.thumbnail img{

    width: 80px;
    height: 80px;
}
.title{
    vertical-align:bottom;
}
.author{
    vertical-align:bottom;
}